{% extends 'base.html' %}
{% block content %}

<center>
  <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
</center>
  <div class="well">

  <h1>New Entry</h1>
  <form action="/users/{{user_id}}/new" method="POST">

<!--     <div>
      <label>Date:
        <input type="date" name="date" required>
      </label>
    </div>
 -->
<!-- Search form -->
<div class="md-form mt-0">
  <label>Food:
  <input class="form-control" type="text" name="searched" placeholder="Search for food" aria-label="Search for food"></label>
</div>

    <div>
      <input type="submit" value="New Entry">
    </div>

  </form>
</div>

{% endblock %}